* {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu-link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 120px;
}

.banner-block {
  height: 100%;
  /* background: url(images/banner-man.png) 0 -51px; */
}
.the-brand {
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 20px;
  font-family: "Fugaz One", cursive;
}
.text-fashion {
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 31px;
}

.banner-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
}

.span-fashion {
  color: #f16d7f;
}

.menu-list {
  position: relative;
}

.mega-box {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 48px;
  display: none;
}

.mega-link {
  display: block;
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #646464;
  text-decoration: none;
}

.mega-link:hover {
  color: #f16d7f;
}

.mega-heading {
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.mega-item {
  margin-right: 45px;
}

.mega-item:last-of-type {
  margin-right: 0;
}

.mega-box::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 35px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box {
  display: flex;
}

/* . для того, чтобы у последних элементов меню не выходила за правый край */
/* auto обязательно, иначе может не срабтать */
.last:hover .mega-box {
  right: 0;
  left: auto;
}

/* . для того, чтобы у последних элементов меню сдвигалась стрелочка */
/* !!auto обязательно, иначе может не срабтать */
.last:hover .mega-box:before {
  right: 50px;
  left: auto;
}
.item-sec {
  margin-top: 100px;
  margin-bottom: 200px;
}
.item-heading {
  margin-bottom: 10px;
}
.item-description {
  margin-bottom: 40px;
}
.item {
  width: 263px;
  position: relative;
  margin-bottom: 30px;
}
.item-link {
  display: block;
  width: 263px;
  text-decoration: none;
}
.item-link:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.item-pic {
  /* убрать белые рамки при наведении на ссылку и появлении рамки */
  width: 100%;
}
.txt-box {
  padding: 15px;
}
.item-desc {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.item-price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f15d7f;
}

.item:hover .item-pic {
  filter: brightness(30%);
}

.add-box {
  display: none;
  position: absolute;
  top: 98px;
  justify-content: center;
  /* если во флексе не указана ширина, но он не сможет центрировать элементы */
  width: 100%;
  /* появляется некликабельная зона, ссылки по бокам нет. потому что растянут add-box.  */
  pointer-events: none;
  /* свойство наследуемое, поэтому для add тоже не работает курсор, чтобы это осправить надо в add дописать то же своейство, но с авто */
}
.add {
  display: flex;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 8px;
  justify-content: center;
  align-items: center;
  /* чтобы кнопка указывала на свою ссылку */
  pointer-events: auto;
}

.cart {
  margin-right: 10px;
}

.add-desc {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.item:hover .add-box {
  display: flex;
}
.add:hover {
  box-shadow: 0px 0px 10px 0px #fff;
}

.item-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}





