@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #222224;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.menu-left {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.menu-link-logo {
  display: block;
  padding: 19px 20px 19px 0;
}

.menu-link-search {
  display: block;
  padding: 28px 20px 20px 20px;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menu-link {
  display: block;
  padding: 26px 16px 20px 16px;
}

.sandwich {
  padding-bottom: 22px;
  padding-top: 30px;
}

.menu-icon {
  vertical-align: middle;
}

.drop-menu-box {
  position: absolute;
  height: 764px;
  background-color: #ffffff;
  padding: 37px 34px 34px 34px;
  /* если прижать к правому краю: */
  /* right: 0; */
  left: auto;
  z-index: 333;
  box-sizing: border-box;
  display: none;
}

.menu-drop:hover .drop-menu-box {
  display: block;
}

.drop-menu-head {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.drop-menu-item {
  margin-bottom: 14px;
}

.drop-menu-header {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.drop-menu-link {
  display: block;
  padding: 6px 11px 6px 11px;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.icon-bag {
  position: relative;
}

.icon-bag::after {
  content: "0";
  display: block;
  position: absolute;
  top: 17px;
  left: 38px;
  border-radius: 50%;
  width: 19px;
  height: 19px;
  background-color: #f16d7f;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}

.banner {
  background: #f1e4e6;
  margin-bottom: 65px;
}

.banner__backgroung {
  height: 764px;
  background-image: url(images/banner-man.png);
  background-repeat: no-repeat;
  background-position: -65%;
  position: relative;
}

.banner__text {
  border-left: 12px solid #f16d7f;
  position: absolute;
  left: 50%;
  top: 38%;
  padding-left: 16px;
  min-width: 405px;
  color: #222222;
}

.banner__text h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.banner__text h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.banner__text h2 span {
  color: #f16d7f;
}

.clothes {
  display: flex;
  list-style: none;
}

.offers-pic {
  vertical-align: middle;
  opacity: 50%;
}

.clothes li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.accesories {
  list-style: none;
  margin-bottom: 96px;
}

.offers-link {
  display: block;
  width: 360px;
  height: 260px;
  position: relative;
}

.woman {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(images/offers-woman.png) no-repeat center center;
}

.man {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(images/offers-man.png) no-repeat center center;
}

.kid {
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(images/offers-kid.png) no-repeat center center;
}

.accesories {
  width: 1140px;
  height: 180px;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(images/offers-acces.png) no-repeat center center;
}

.offers-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.offer-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.products {
  margin-bottom: 95px;
}

.products-header {
  text-align: center;
  margin-bottom: 48px;
}

.products-title {
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products-text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.products-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.product-item {
  width: 360px;
  position: relative;
}

.product-link {
  display: block;
  width: 360px;
  text-decoration: none;
  color: #000000;
}

.product-item:hover .product-image {
  filter: brightness(30%);
}

.product-image {
  width: 100%;
  vertical-align: middle;
}

.product-desc {
  background: #f8f8f8;
  padding-top: 25px;
  padding-left: 18px;
  padding-bottom: 20px;
}

.product-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}

.product-about {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.product-price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.add-box {
  width: 100%;
  position: absolute;
  top: 188px;
  display: none;
  justify-content: center;
  pointer-events: none;
}

.add-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  padding: 10px 16px 8px 13px;
  pointer-events: auto;
}

.product-item:hover .add-box {
  display: flex;
}

.icon-cart {
  margin-right: 11px;
}

.add {
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.product-button {
  display: flex;
  justify-content: center;
}

.product-but {
  border: 1px solid #FF6A6A;
  color: #F26376;
  min-width: 211px;
  padding: 14px 38px;
  background-color: #ffffff;
}

.product-but:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.benefits,
.footer {
  background-color: #222224;
}

.benefits-box {
  display: flex;
  padding: 104px 0;
  justify-content: space-around;
}

.benefits-item {
  max-width: 360px;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.benefits-icon {
  width: -moz-min-content;
  width: min-content;
}

.benefit-head {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  font-weight: 400;
}

.denefit-text {
  max-width: 360px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.feedback {
  background: linear-gradient(rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)), url(images/feedback-bg.jpg) no-repeat center center;
}

.feedback-box {
  height: 448px;
  display: flex;
  justify-content: space-between;
}

.rewiev {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rewiev_foto {
  width: -moz-min-content;
  width: min-content;
  margin-bottom: 29px;
  margin-top: 97px;
}

.rewiev > figcaption {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe {
  min-width: 360px;
  margin-top: 150px;
}

.subscribe > fieldset {
  border: none;
}

.subscribe-text > h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.subscribe-text > p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 32px;
}

.subscribe-flex {
  display: flex;
}

#email {
  width: 256px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  background-color: #e1e1e1;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
}

.subscribe-button {
  width: 100px;
  box-sizing: border-box;
  background: #f16d7f;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 7px;
}

.copy-text {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  padding: 30px 0;
}

.social {
  display: flex;
  padding-top: 24px;
}

.soc-link {
  display: block;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  margin-right: 7px;
  position: relative;
  text-align: center;
}

.soc-link:last-of-type {
  margin-right: 0;
}

.soc-icon {
  color: #000000;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.soc-link:hover {
  background-color: #f16d7f;
}

.soc-link:hover .soc-icon {
  color: #ffffff;
}

.reg-main {
  margin-bottom: 96px;
}

.reg-heading {
  background: #F8F3F4;
  margin-bottom: 64px;
}

.reg-title-box {
  display: flex;
  min-height: 148px;
}

.reg-title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  margin: auto 0;
}

.reg-form-box {
  display: flex;
  justify-content: space-between;
}

.reg-form-input {
  max-width: 358px;
}

.reg-form-input > fieldset {
  border: none;
}

.input-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 10px 15px 17px;
  margin-bottom: 20px;
  border: 1px solid #A4A4A4;
}

.reg-gender {
  display: inline-block;
  margin-top: 13px;
  margin-bottom: 35px;
  margin-right: 20px;
  color: #000000;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  position: relative;
}

.reg-gender input[type=radio] {
  margin-right: 10px;
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 17px;
  height: 17px;
  padding: 2px;
  box-sizing: border-box;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid #A4A4A4;
  background-color: #ffffff;
  border-radius: 50%;
}

input[type=radio]:checked {
  background-color: #A4A4A4;
}

.reg-gender {
  display: flex;
  align-items: center;
}

.reg-flex {
  display: flex;
  align-items: center;
}

.reg-descr {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 100%;
  text-align: justify;
  margin-bottom: 39px;
}

.form-button {
  border: 1px solid #f16d7f;
  color: #ffffff;
  width: 167px;
  padding: 16px 29px;
  background-color: #f16d7f;
  box-sizing: border-box;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  text-align: start;
}

.cont-relative {
  position: relative;
  width: 167px;
}

.for-psevdo::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.for-psevdo::after {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  z-index: 10;
  top: 23px;
  right: 20px;
  border-top: 2px solid white;
}

.reg-text {
  max-width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: justify;
}

.reg-text > p {
  margin-bottom: 22px;
}

.reg-legend {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.perks-items {
  list-style-type: none;
}

.perk {
  display: flex;
  margin-bottom: 16px;
}

.reg-mark {
  width: 20px;
  height: 16px;
  margin: auto 22px auto 0;
}/*# sourceMappingURL=style.css.map */